/* font-family: 'VT323', monospace;
font-family: 'Share Tech Mono', monospace; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 65px;
  text-align: center;
}

/* Navigation and Header */

.nav-links {
  margin: 0 20px;
  padding: 10px;
  color: white;
}

.active {
  font-weight: bold;
  background-color: #3bb0dc;
  padding: 10px;
  border-radius: 3px;
}

/* Home */

.title {
  font-family: 'Share Tech Mono', monospace;
  margin-bottom: 50px;
}

.homepage-demo {
  display: block;
  text-align: center; 
  margin: auto;
  width: 200px;
  height: 50px;
}

/* Demo List (Demos Component) */
.demo-list {
  text-align: center;
}

/* Demo Boxes */

.demos {
  text-align: center;
}

.mathbox {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.demo-box {
  margin: 100px 0;
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: lightgray;
}

/* .results {
  
} */

/* math demo box */
.aside {
  background-color: lightblue;
  width: 100px;
  height: 500px;
  margin: 100px 0;
  color: white;
}