/* font-family: 'VT323', monospace;
font-family: 'Share Tech Mono', monospace; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 65px;
  text-align: center;
}

/* Navigation and Header */


/* Homepage */

.app-title {
  font-family: 'Share Tech Mono', monospace;
}

.homepage-demo {
  display: block;
  text-align: center; 
  margin: auto;
  margin-top: 50px;
  width: 200px;
  height: 50px;
}

/* Demo Boxes */

.demos {
  text-align: center;
}

.demo-box {
  margin: 100px 20px;
  width: 500px;
  height: 500px;
  display: inline-block;
  background-color: lightgray;
}